/* Universal Styles */
html {
  font-size: 20px;
  font-family: "Balsamiq Sans" , sans-serif;
}

button {
  margin-top: 8px;
  margin-bottom: 8px;
}

h2 {
  font-weight: bold;
}

/* Header */
.mobile-header {
  display: none;
}

.computer-header {
  display: flex;
  justify-content: center;
  position: static;
  background-color: white;
  width: 100%;
}

.computer-header .logo {
  margin-left: 24px;
  height: 32px;
}

.computer-nav {
  text-align: right;
}

nav {
  margin-right: 24px;
  height: 64px;
}

nav span {
  margin-left: 16px;
}


/* Banner Section */

.banner img {
  width: 60%;
  height: 150px;
  margin: 32px 24px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
